HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USERNAME=vicky98@ethereal.email
SMTP_FULL_NAME="Vicky D'Amore"
SMTP_PASSWORD=899R6xe8dMDZE271ud
SMTP_TO_DEFAULT=no-reply@example.com